.footer
  background-color: #272E3E
  padding: 80px 0

.container 
  max-width: 1400px
  width: 100%
  padding: 0 16px
  margin: 0 auto

.footer_main 
  display: flex
  align-items: flex-start
  justify-content: space-between
  padding-bottom: 64px

.footer_cont 
  max-width: 322px
  width: 100%

.footer_logo 
  display: flex
  max-width: 195px
  width: 100%
  margin-bottom: 29px

.footer_phone
  display: flex
  align-items: center
  font-family: 'Inter'
  font-weight: 700
  font-size: 26px
  line-height: 28px
  color: #FDFDFD
  margin-top: 10px
  transition: 0.3s
  margin-bottom: 16px

.location
  position: relative
  display: flex
  align-items: center
  margin-right: 36px

.footer__soc
  margin-top: 34px

.politic-conf 
  font-weight: 400
  font-size: 20px
  line-height: 26px
  border-bottom: 1px solid #FDFDFD
  color: #FDFDFD
  margin-top: 37px
  transition: 0.3s

.footer_block
  display: flex
  align-items: flex-start
  justify-content: space-between
  max-width: 900px
  width: 100%

.name_comp
  border-top: 1px solid #CED2DB
  padding-top: 32px
  p
    font-weight: 400
    font-size: 20px
    line-height: 28px
    color: #D5DAE3